################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LedFlasher/v15
/Release
/__vm
/SmartPointer.h
/LedFlasher.vcxproj.user
/LedFlasher.vcxproj.filters
/LedFlasher.vcxproj
/LedFlasher.sln
